.search-btn{
    border:1px solid #ced4da !important;
    border-left: none;
}
.line-height-custom{
    line-height: 2.5rem;
}
.search-bar::after{
    border: 1px solid #ced4da !important;
}
.navbar-link-custom:hover{
    color: green !important; 
    border-bottom: 2px solid green;
}
.nav-link-active{
    color: green !important; 
    border-bottom: 2px solid green;
}